/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-Aug-2022, 12:02:21 AM
    Author     : Sanduni Ridmika
*/

.footer
{
    background-color: #FEF7ED;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-right: 60px;
    padding-left: 60px;
}

.img-footer
{
    padding-right: 30px;
    margin-bottom: 30px;
}

.footer-copyright
{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 12px;
}

.footer-form
{
    padding-left: 150px;
    padding-right: 150px;
}

.form-group
{
    margin-bottom: 7px;
}

.btn-form-group
{
    margin-top: 25px;
}
