/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-Aug-2022, 12:02:21 AM
    Author     : Sanduni Ridmika
*/

.footer
{
    background-color: #e6f7ff;
    padding-top: 60px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.img-footer
{
    padding-right: 30px;
    margin-bottom: 30px;
}

.footer-copyright
{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 12px;
}

.footer-form
{
    padding-left: 150px;
    padding-right: 150px;
}

.form-group
{
    margin-bottom: 7px;
}

.btn-form-group
{
    margin-top: 25px;
}
.text-footer
{
    margin-left: 50px;
}
.button2 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  margin-left: 50%;
}

.button2:hover,
.button2:active {
  outline: 0;
}

.button2:hover {
  background-color: transparent;
  cursor: pointer;
}

.button2:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button2:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button2 {
    padding: 16px 32px;
  }
}