/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Aug-2022, 5:51:37 PM
    Author     : Sanduni Ridmika
*/

* 
{
  box-sizing: border-box;
}
.title-head
{
    padding-left: 30px;
    padding-top: 90px;
    color: #000066;
    font-size: 40px;
    font-weight: bold;
    text-align:center;
}
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 70px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
   margin-left: 170px;
}

.right {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.button1 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  margin-left: 50%;
}

.button1:hover,
.button1:active {
  outline: 0;
}

.button1:hover {
  background-color: transparent;
  cursor: pointer;
}

.button1:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button1:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button1 {
    padding: 16px 32px;
  }
}